.catalog {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.catalog-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-top: 16px;
}

.catalog-list-container {
  margin-bottom: 32px;

  .title-container {
    display: flex;
    margin-bottom: 16px
  }

  .title {
    margin-right: 16px;
  }
}

.catalog-list {
  display: flex;
  overflow-x: scroll;
  max-width: 95vw;
  padding: 0;
  margin: 0;
}

.catalog-list-placeholder {
  border-color: lightgray;
  border-style: dashed;
  border-width: 5px;
  border-radius: 5px;
  height: 200px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;

  .empty-message {
    color: gray;
  }
}

.catalog-item {
  flex: 0 0 150px;
  margin-right: 8px;

  .catalog-item-image {
    height: 140px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: stretch;
    //background-size: stretch;
  }

  .catalog-item-type {
    text-transform: uppercase;
    font-size: 10px;
    color: white;
    text-align: center;
    padding: 4px 0;

    &.teacher {
      background: #3f51b5; // Material
    }

    &.student {
      background: #f50057; // Material
    }
  }


  &.placeholder {
    opacity: 0.5;
  }
}
