@import '../../app/variables';

.chat-main {
  flex: 1 1 auto;
  overflow-y: scroll;
  padding: 8px;
  margin: 0;
  height: 500px;

  @media (min-width: $breakpoint-mobile) {
    height: 100px;
  }

  &::-webkit-scrollbar {
    width: 0.25rem;
  }

  &.chat-main-locked {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #666666;
    padding: 32px;
  }
}

.chat-form {
  flex: 0 0 56px;

  display: flex;
  flex-direction: row;
  padding: 8px;
  //background: lightgray;

  .chat-input {
    flex: 1;
    margin: 0 8px 0 0;

    input {
      //background: white;
    }
  }
}

.chat-message {
  display: flex;
  align-items: center;
  margin: 0 0 4px 0;

  p {
    max-width: 500px;
    line-height: 24px;
    padding: 8px 24px;
    margin: 0;
    border-radius: 25px;
    position: relative;
    color: white;
  }

  &.sent {
    flex-direction: row-reverse;

    p {
      color: white;
      background: #0b93f6;
      align-self: flex-end;
    }

    .chat-avatar {
      margin-left: 5px;
    }
  }

  &.received {
    p {
      background: #e5e5ea;
      color: black;
    }

    .chat-avatar {
      margin-right: 5px;
    }
  }

  .chat-avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: 0;
  }
}



//.sign-in {
//  color: #282c34;
//  background: white;
//  max-width: 400px;
//  margin: 0 auto;
//}







