.app-content {
  border: 1px solid blue;
  flex: 1;
}

.app-content-toc {
  display: flex;
  flex-direction: column;
}

.item-list {
  flex: 1;
  overflow-y: scroll;
  padding: 0;
}

.item {
  display: flex;

  .item-title {
    flex: 1;
  }
}
