{
  "extends": "airbnb",
  "plugins": ["unused-imports"],
  "rules": {
    "comma-dangle": "off",
    "unused-imports/no-unused-imports": "error",
    "no-param-reassign": ["error", { "props": false }],
    "unused-imports/no-unused-vars": [
      "warn",
      {
        "vars": "all",
        "varsIgnorePattern": "^_",
        "args": "after-used",
        "argsIgnorePattern": "^_"
      }
    ]
  }
}
