rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /{document=**}/documents {
      allow read, write: if true;
    }

    match /users/{uid} {
      allow read: if true;
      allow write: if request.auth.uid == uid;
    }

    // Currently unused since we update/delete through cloud functions.
    // match /invites/{uid} {
    //   allow read: if isCreator() || isInvited();
    //   allow write: if isCreator();
    // }

    match /tokens/{uid} {
      allow list: if true;
      allow get: if true;
      allow write: if false; // Admin only.
    }

    match /courses/{uid} {
      allow list: if hasAccess();
      allow get: if hasAccess();
      allow write: if isCreator();

      // TODO
      function hasAccess() {
        return true;
      }
      // function isEnrolled() {
      //   return get(/databases/$(database)/documents/users/$(request.auth.uid)).data.enrolled[uid] != null;
      // }

      match /chat/{uid} {
        // TODO
        allow read, write: if true;
      }

      match /items/{uid} {
        // TODO
        allow read, write: if true;
      }
    }

    // match /items/{uid} {
      // allow list: if true;
      // allow get: if true; // TODO isCreator() || isEnrolledInParentCourse();
      // allow write: if isCreator();

      // function isEnrolledInParentCourse() {
      //   let parentCourse = get(/databases/$(database)/documents/courses/$(resource.data.courseUid));
      //   return get(/databases/$(database)/documents/users/$(request.auth.uid)).data.enrolled[parentCourse.uid] != null;
      // }
    // }

    match /easy_customers/{uid} {
      allow read: if request.auth != null && request.auth.uid == uid; // isCreator2();
      allow write: if false;
    }

    match /easy_providers/{uid} {
      allow read: if true;//request.auth != null && request.auth.uid == uid; // isCreator2();
      allow write: if false;
    }

    match /stripe_customers/{uid} {
      allow read, write: if isUser();

      match /payment_methods/{id} {
        allow read, write: if isUser();
      }
      match /payments/{id} {
        allow read, write: if isUser();
      }
      match /subscriptions/{id} {
        allow read: if isUser();
        allow write: if false;
      }
      match /sessions/{id} {
        allow read: if isUser();
        allow write: if false;

        match /sessions/{id} {
          allow read: if isUser();
          allow write: if false;
        }
      }

      function isUser() {
        return request.auth != null && request.auth.uid == uid;
      }
    }

    // function isSignedIn() {
    //   return request.auth != null;
    // }

    function isCreator() {
      return resource.data.creatorUid == request.auth.uid;
    }
  }
}
