.dashboard {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.dashboard-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-top: 16px;
}

dashboard-page {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.student-list {
  display: flex;
}

.student-item {
  display: flex;
  flex-direction: column;
  align-items: center;

  ul {
    border: none;
    list-style: none;
    padding: 0;
  }
}

$student-image-size: 100px;
.student-item-image {
  width: $student-image-size;
  height: $student-image-size;
  border-radius: $student-image-size / 2;
}

.student-name {
  margin-right: 8px !important;
}

.course-link {

}

.chats {
  flex: 1;
  display: flex;
  //border: 1px solid red;
}

.chats-list {
  //border: 1px solid green;
  margin-right: 32px;
  list-style: none;
  padding: 0;
}

.chat-title {
  //border: 1px solid blue;
  padding: 16px 16px;
  border-radius: 8px;
  width: 300px;
  background: #dddddd;
  cursor: pointer;
  margin-bottom: 8px;
  display: flex;
  align-items: center;

  &.selected {
    background: #ffffff;
  }
}

.chat-title-text {
  flex: 1;
}

.chat-container {
  display: flex;
  flex-direction: column;
  border: 1px solid lightgray;
}
