@import "variables";
//$inner-padding: 12px;

#root {
  display: flex;
  height: 100vh;
  min-height: 500px;
  padding: $outer-padding;
  justify-content: center;

  @media (min-width: $breakpoint-mobile) {
    padding: $outer-padding-lg;
  }

  // TODO
  border: 1px solid green;
}

.app-root {
  border: 1px solid lightcoral;
  flex: 1;
  max-width: 1200px;

  display: flex;
  flex-direction: column;
}

.header-container {
  flex: 0;
  border: 1px solid green;
}

.content-container {
  flex: 1;
  border: 1px solid red;
  display: flex;
}

.footer-container {
  flex: 0;
  border: 1px solid mediumpurple;
}

.MuiGrid-item {
  // TODO
  border: 1px solid lightblue;
}
