@import "variables";
//$inner-padding: 12px;

// Utils -----------------------------------------------------------
.flex-container {
  display: flex;

  &.vertical {
    flex-direction: column;
  }

  &.spaced {
    margin-right: 8px;
  }
}
// -----------------------------------------------------------------

a {
  text-decoration: none;
}

#root {
  display: flex;
  height: 100vh;
  min-height: 400px;
  padding: $outer-padding;
  justify-content: center;

  @media (min-width: $breakpoint-mobile) {
    padding: $outer-padding-lg;
  }
}

.app-root {
  flex: 1;
  //max-width: 1200px;

  display: flex;
  flex-direction: column;
}

.header-container {
  flex: 0;
}

.content-container {
  flex: 1 1 auto;
  overflow-y: auto;
  display: flex;
}

.footer-container {
  flex: 0;
}

.footer-list {
  display: flex;
  padding: 0;

  li {
    list-style: none;
    margin-right: $outer-padding-lg;
  }
}

.MuiGrid-item {

}

.spacer {
  flex: 1;
}

.link {
  cursor: pointer;
  text-decoration: underline;
}

.create-course-form {
  margin-top: 16px;
}

.account-dialog-content {
  display: flex;
  flex-direction: column;
  align-items: center;

  .billing-link {
    align-self: flex-start;
  }
}

.billing {
  align-self: stretch;
}

.header-user-image {
  width: 30px;
  height: 30px;
  margin-right: 4px;
}


// ===================== FILE DROP =====================
/* Demo.css */

.file-drop {
  /* relatively position the container bc the contents are absolute */
  position: relative;
  height: 100px;
  width: 100%;
}

.file-drop > .file-drop-target {
  /* basic styles */
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border-radius: 2px;

  /* horizontally and vertically center all content */
  display: flex;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;

  flex-direction: column;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;

  align-items: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;

  justify-content: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;

  align-content: center;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;

  text-align: center;
}

.file-drop > .file-drop-target.file-drop-dragging-over-frame {
  /* overlay a black mask when dragging over the frame */
  border: none;
  background-color: rgba(0, 0, 0, 0.65);
  box-shadow: none;
  z-index: 50;
  opacity: 1;

  /* typography */
  color: white;
}

.file-drop > .file-drop-target.file-drop-dragging-over-target {
  /* turn stuff orange when we are dragging over the target */
  color: #ff6e40;
  box-shadow: 0 0 13px 3px #ff6e40;
}

$billing-width: 400px;
.billing {
  flex: 1;
  display: flex;
  flex-direction: column;

  .card-container {
    display: flex;
    align-self: center;
    width: $billing-width;
    max-width: $billing-width;
    border: 1px solid lightgray;
    padding: 16px;
    border-radius: 8px;
  }

  .change-plan-button {
    align-self: center;
    margin-top: 32px;
  }

  .cancel-plan-button {
    margin-top: 16px;
    align-self: center;
  }
}

.tier-list {
  display: flex;
  flex-direction: column;

  list-style: none;
  padding: 0;
  margin-bottom: 32px;

  @media (min-width: $breakpoint-mobile) {
    flex-direction: row;
  }
}

.tier-item {
  cursor: pointer;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: stretch;

  margin-bottom: 16px;

  .tier-item-container {
    flex: 1;
    border: 1px solid lightgray;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 24px 0 0;
    margin-bottom: 8px;
  }

  .tier-item-units {
    margin-bottom: 16px;
  }

  .tier-item-period {
    color: #999999;
    margin-bottom: 16px;
  }

  .tier-item-subscribed {
    text-align: center;
    background: #999999;
    color: #ffffff;
    display: none;
    padding: 8px;
    align-self: stretch;
  }

  &.selected {
    .tier-item-container {
      border: 1px solid #3f51b5;
    }

    .tier-item-subscribed {
      background: #3f51b5;
    }
  }

  &.subscribed {
    .tier-item-subscribed {
      display: unset;
    }
  }

  @media (min-width: $breakpoint-mobile) {
    flex: 1 1 300px;
    margin-bottom: 0;

    &:not(:last-child) {
      margin-right: 16px;
    }
  }
}

.subscription-info {
  max-width: 400px;
  align-self: center;

  display: flex;
  flex-flow: column nowrap;
  align-items: center;

  margin-bottom: 16px;

  p {
    margin: 0;
  }
}

.live-mode {
  flex-direction: column;

  #live-mode-target {
    flex: 1;
    margin-bottom: 16px;

    &.out-of-session {
      display: none;
    }

    button {
      z-index: 2;
      position: absolute;
      left: 32px;
      top: 32px;
    }

    &.full-screen {
      position: fixed;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      z-index: 1;

      button {
        left: 16px;
        top: 16px;
      }
    }
  }

  .out-of-session-view {
    flex: 1;
    margin-bottom: 16px;
  }
}

.out-of-session-title {
  margin-top: 16px !important;
}

.owner-controls {
  display: flex;
  flex-flow: row nowrap;
  height: 46px;
  border-top: 1px solid lightgray;
  padding-top: 8px;

  button:not(:last-child) {
    margin-right: 16px;
  }

  .recording-warning {
    flex: 1;
    margin-right: 16px;
    padding-top: 0;
    padding-bottom: 0;
  }
}

.subscription {
  display: flex;
}

.uploader-container {
  display: flex;
}

.account-warning {
  color: #f50057;
  margin: 0;
  padding: 0 4px 0 0;
}

.account-info {
  margin: 0;
  color: #999999;
}

.participant-images {
  padding: 0;
  display: flex;
  list-style: none;
}

// ------------------------------------ COURSE ------------------------------------ //
.edit-course-tabs {
  margin-bottom: 16px;
  border-bottom: 1px solid lightgray;
}

// ------------------------------------ ACCESS MANAGER ------------------------------------ //
.access-manager {
  flex: 1;
  display: flex;
  flex-direction: column;

  .access-type {
    flex-direction: row;
  }
}

.price-container {
  display: flex;
  align-items: center;
}

.currency-sign {
  margin-right: 4px;
}

// ------------------------------------ STUDENT MANAGER ------------------------------------ //
.student-manager {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 16px 0 0 0;
  margin-bottom: 16px;

  .MuiAlert-standardError {
    margin-bottom: 16px;
  }
}

.light-text {
  color: rgba(0, 0, 0, 0.54);
}

.course-price {
  margin-bottom: 16px !important;
}

.student-manager-page {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.view-user {
  .student-manager-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.student-add, .student-delete {
  .student-manager-content {
    justify-content: center;
    align-items: center;
  }
}

.access-student-list {
  flex: 1;

  ul {
    flex: 1;
    padding: 4px;
    border: 1px solid lightgray;
    border-radius: 8px;
  }
}

.student-list-add {
  align-self: flex-end;
}

.student-view {
  display: flex;
  padding: 0 16px;
  align-items: center;
  background: #eeeeee;
  margin-bottom: 8px;
  border-radius: 4px;

  .student-view-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    margin-right: 8px;

    &.no-student {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }
}

.student-manager-header {

}

.student-manager-content {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.student-manager-controls {
  display: flex;
  justify-content: space-between;
}

.student-search-form {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 300px;

  .MuiTextField-root {
    flex: 1;
  }

  button {
    align-self: flex-end;
  }
}

.student-result-form {
  flex: 1;
}

.student-manager-image {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 1px solid #eeeeee;
  margin-bottom: 16px;

  &.no-student {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.student-manager-user-name {
  margin-bottom: 8px !important;
}

._user-view {
  display: flex;
  flex-direction: column;
  align-items: center;
}

// ------------------------------------ New Course ------------------------------------ //

// ------------------------------------ Coach Page ------------------------------------ //
.coach-page {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.coach-edit-button {
  align-self: flex-end;
}

.coach-cancel-button {
  margin-right: 8px !important;
}

.coach-edit-controls {
  align-self: flex-end;
  display: flex;
  margin-bottom: 16px;
}

// ------------------------------------ Dialogs ------------------------------------ //
.unlock-dialog-content {
  display: flex;
  flex-direction: column;
  align-items: stretch;

  .credit-card {
    margin-bottom: 32px;
  }

  button {
    align-self: center;
  }
}
