.course {
  //border: 1px solid gray;
}

.course-body {
  //border: 1px solid gray;
  display: flex;
}

.course-list {
  //border: 1px solid gray;
  display: flex;
  flex-direction: column;
}

.video-player {
  border: 1px solid gray;
  flex: 1;
}

li {
  list-style: none;
}
