html {
  height: 100%;
}

body {
  height: 100%;
}

#root {
  height: 100%;
}

.App {
  display: flex;
  flex-direction: column;
  padding: 16px;
  height: 100%;
}

.header {
  flex: 0 0 120px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  margin-bottom: 16px;

  h1 {
    flex: 1;
  }
}

.auth-status {
  .MuiFormControl-root, .email {
    margin-right: 8px;
  }
}

.body {
  flex: 1;
  display: flex;
  flex-direction: row;

  .sidebar {
    flex: 0 0 150px;
    display: flex;
    flex-direction: column;
  }

  .sidebar-2 {
    flex-basis: 250px;
  }

  .video {
    flex: 1;
  }

  .admin {
    width: 100vw;
  }
}

.footer {
  flex: 0 0 100px;
}
